<Section class="section quienes__somos">
    <div clas="container quienes__somos">
        <div class="container__content"><h1>¿Quienes somos y que hacemos?</h1></div>

        <div class="container__content__message"><p>Somos una Asociación Civil de Lucha contra la Parálisis Infantil <br>
            radicada en Cañada de Gómez, provincia de Santa Fe. <br>
            El 20 de noviembre de 1967, se crea en la ciudad, una filial de la <br> Asociación Rosarina de Lucha contra la
            Parálisis Infantil <br> (A.R.L.P.I) por una iniciativa de la Srta. Dolores Odorizzi y el Dr. Alberto <br> Di Paola. <br>
            En un primer momento, esta filial apoyó los programas de vacuación antipoliomielítica. Cuando esa tarea <br> quedó
            a cargo de los efectores públicos de salud, se comenzaron <br> a prestar los siguientes servicios según los
            requerimientos de la <br> comunida: Fonoaudiología, Psicología y Fisioterapia. <br>
            En febrero de 2005, la filial de Cañada de Gómez se independiza <br> de A.R.L.P.I y se constituye como Asociación
            Civil para la lucha contra la Parálisis Infantil de Cañada de Gómez (A.L.P.I.C) <br>
            
        </p></div>
    </div>
</Section>